{% extends "flashcards/base.html" %}

{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
    <div class="content-section">
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'google_login' %}">
            {% csrf_token %}
            <button type="submit">Continue with Google</button>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}