{% extends "flashcards/base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
        <a href="#" class="home" style="display: block; width: 300px; height: 350px; margin: auto; background-image: url({% static 'images/logoimg.png' %}); background-size: contain; background-position: center; background-repeat: no-repeat;"></a>
		


    <!-- <div class="content-section">
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'google_login' %}">
            {% csrf_token %}
            <button type="submit">Coninue with Google</button>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div> -->
    <div class="login-container">
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
        <div class="login-box">
            <h4>Upgrade your learning with FlashHub today</h4>
            <!-- <p class="info-text">to continue to FlashHub</p> -->
            <form method="post" action="{% url 'google_login' %}">
                {% csrf_token %}
                <button type="submit" class="google-btn">Continue with Google</button>
            </form>
        </div>
    </div>
    
{% endblock content %}