{% extends "flashcards/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
        {{card.category}}
    </div>
    <div class="card-body">
        
        <h5 id="flip-front" class="card-text">{{ card.front }}</h5>
        <p id="flip-back" class="card-text" style="display: none;">{{ card.back }}</p>

        <br><br>
        <button href="#" class="btn btn-danger" onclick="flipCard()">
            <i class="fa fa-exchange"></i>
            Flip Card
        </button>
        <a href="{% url 'mark_known' card.id %}" class="btn btn-success">
            <i class="fa fa-check"></i>
            I Know It 
        </a>
        <a href="./learn" class="btn btn-primary">
            Next Card
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
</div>

{% endblock %}