{% extends "flashcards/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card text-center">
    <div class="card-header"
        style="display: block; text-align: center; font-size: 15px">
        <img src="{% static 'images/dragonflower.png' %}" alt="Icon" style="width: 20px; height: 20px; margin-right: 5px;">
        {{card.category}}
    </div>
    <div class="card-body">
        
        <h5 id="flip-front" class="card-text">{{ card.front }}</h5>
        <p id="flip-back" class="card-text" style="display: none;">{{ card.back }}</p>

        <br><br>
        <button href="#" class="btn btn-danger" onclick="flipCard()">
            <i class="fa fa-exchange"></i>
            Flip Card
        </button>
        <a href="{% url 'mark_known' card.id %}" class="btn btn-success">
            <i class="fa fa-check"></i>
            I Know It 
        </a>
        <a href="./learn" class="btn btn-primary">
            Next Card
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
</div>
<style>
    .card-clicked {
      background-color: #e6efdd; 
      font-size: 15px;
      /* color: #fff; */
    }
  </style>
<!-- JavaScript Flip Card -->
<script type="text/javascript">
    
    function flipCard() {
        var flipFront = document.getElementById('flip-front');
        var flipBack = document.getElementById('flip-back');
        var card = document.querySelector('.card');

        // Toggle visibility between the front and back elements
        if (flipFront.style.display === 'none') {
            flipFront.style.display = 'block';
            flipBack.style.display = 'none';
        } else {
            flipFront.style.display = 'none';
            flipBack.style.display = 'block';
        }
        card.classList.toggle('card-clicked');
    }

</script>

{% endblock %}