
{% extends "flashcards/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
	
<div class="row pt-md-4">
    <div class="col-md-12">
        <div class="blog-entry ftco-animate d-md-flex">
            <div class="form-flashcard">
				<form method="POST" action="">
					{% csrf_token %}
					{{ form|crispy }}
					<input class="btn btn-primary" type="submit" name="Submit" value="Enroll in Class">
				</form>
			</div>
			
        </div>
    </div>
</div>

<p>If the class you are looking for does not exist, you may <a href ='{% url "create_course" %}'>create it</a>.</p>

{% endblock %}